@use 'variables';
@use 'mixins';

nav ul {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
}
main header {
    background-image: url('');
}
